.icon {
   width: 90px;
   padding: 0px;
 }

ul {
  display: flex;
  justify-content: center;
  align-items: center;  
  list-style-type: none;
  margin: 10px;
  position: static;
  top: 0px;

}

li {
  display: inline-block;
  margin: 10px 3px;
}

